.overflow {
    background: white;
    padding: 1px;
    width: 100%;
    height: 305px;
    overflow: auto;
    border-style: solid;
    border-color: black;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(../font/Bebas-Regular.otf);
 }
 
 .font1 {
    font-family: myFirstFont;
 }

 
 #nav-head {
     background-color: black;
   
 }
 
